@import "../../../Settings/Settings";

$arrow-button-background: transparent;
$arrow-button-border: none;



.arrow-button {
    border: $arrow-button-border;
    background: $arrow-button-background;
}

