@import "../../Settings/Settings.scss";

$img-dimension: 32vw;
$img-dimensionm-max: 300px;

$img-distance-to-top: 24vh;
$mobile-img-distance-to-top: 25vh;



$slogan-y-offset: -20px;
$mobile-slogan-y-offset: 0;

.hero {
    margin: auto;
    text-align: center;
    @include response-to(phones) {
        padding-top: $mobile-img-distance-to-top;
    }
    @include response-to(computers) {
        padding-top: $img-distance-to-top;
    }
    display: block;
}

.hero-image {
    width: $img-dimension;
    height: $img-dimension;
    max-width: $img-dimensionm-max;
    max-height: $img-dimensionm-max;
}

.hero-display {
    font-family: $display-font;
    font-size: $display-font-size;
    @include response-to(phones) {
        font-size: $mobile-display-font-size;
    }
    @include response-to(computers) {
        font-size: $display-font-size;
    }
    text-transform: uppercase;
    color: $primary-dark;
    margin:50px 0 0 0;
}

.hero-slogan {
    font-family: $primary-font;
    font-weight: $bold-font-weight;
    @include response-to(phones) {
        font-size: $mobile-slogan-font-size;
        margin-top: $mobile-slogan-y-offset;
    }
    @include response-to(computers) {
        font-size: $slogan-font-size;
        margin-top: $slogan-y-offset;
    }
}