@import '../../Settings/Settings.scss';

@mixin header-style() {
    color: $primary-dark;
    font-family: $display-font;
    font-size: $header-font-size;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 0%;
    height: $header-height;
}

.title-text {
    padding-top: 2%;
    z-index:500;

    @include header-style();
}



// !!! TODO: to fix header (which is not responsive right now)