@import '../../Settings/Settings.scss';

@mixin header-style() {
    color: $primary-dark;
    font-family: $display-font;
    font-size: $header-font-size;
    text-align: center;
    width: 400px;
    margin: auto;
    margin-bottom: 0%;
    height: $header-height;
}

.profile-header {
    @include header-style();
    z-index:500;
}

.profile-header::before {
    content: " ";
    display: inline-block;
    position: absolute;
    width:10px;
    height:70px;
    background-color: $primary-dark;
    margin-left: -30px;
}

.profile-header::after {
    content: " ";
    display: inline-block;
    position: absolute;
    width:10px;
    height:70px;
    background-color: $primary-dark;
    margin-left: 20px;
}

// !!! TODO: to fix header (which is not responsive right now)