@import "../../../../../Settings/Settings.scss";

.caret-display-container {
    padding: 10px 130px 60px 120px;

    @include response-to(phones) {
        padding: 15px;
    }

    > h3 {
        font-size: $slogan-font-size;
        font-family: $display-font;
    }

    > h4 {
        font-size: 20px;
        font-family: $primary-font;
    }

    > p {
        font-family: $primary-font;
        text-align: justify;
        line-height: $primary-line-height;

        > a {
            cursor: pointer;
            text-decoration: underline;
            color: $selection-yellow;
            font-family: $primary-font;

            &:hover {
                color: $hover-yellow;
            }
        }
    }

    
}