@import "../../Settings/Settings.scss";

.header {
    position: fixed;
    width: 100vw;
    height: 60px;
    top: 0px;
    background: $primary-white;
    box-shadow: $every-box-shadow;
    margin: auto;
    text-align: center;
    z-index: 1000;

    // hide header menu for phones 
    @include response-to(phones) {
        display:none;
    }
}

