@import "../../Settings/Settings.scss";

$header-box-shadow: 0px 2px 10px rgba(0,0,0,0.2);

.header {
    position: fixed;
    width: 100vw;
    height: 60px;
    top: 0px;
    background: $primary-white;
    box-shadow: $header-box-shadow;
    margin: auto;
    text-align: center;
    z-index: 1000;
}

