@import "../../Settings/Settings.scss";

$button-nums: 3;
$button-width: percentage(1/$button-nums);
$button-width-computer: 300px;
$button-tapped-transition:cubic-bezier(0.165, 0.84, 0.44, 1) 0.629s;

.menu-buttons {
    border:none;
    width: $button-width;
    height: 100%;
    font-family: $primary-font;
    transition: $button-tapped-transition;
    padding: 0;

    @include response-to(wide) {
        width: $button-width-computer;
    }
}


.menu-buttons::after {
    content:" ";
    bottom: 0px;
    width: 0;
    height: 8%;
    display: block;
    position: absolute;
    margin-left: $button-width-computer / 2;
    background-color: $selection-yellow;
    transition: $button-tapped-transition;

    @include response-to(wide) {
        margin-left: $button-width-computer / 2;
    }
} 

.menu-buttons:hover::after {
    content:" ";
    bottom: 0px;
    width: $button-width/2;
    height: 8%;
    display: block;
    position: absolute;
    background-color: $selection-yellow;
    transition: $button-tapped-transition;

    @include response-to(wide) {
        width: $button-width-computer/2;
    }
}

.menu-buttons::before {
    content:" ";
    bottom: 0px;
    width: 0;
    height: 8%;
    display: block;
    position: absolute;
    margin-left: $button-width-computer/2;
    background-color: $selection-yellow;
    transition: $button-tapped-transition;

    @include response-to(wide) {
        margin-left: $button-width-computer/2;
    }
} 

.menu-buttons:hover::before {
    content:" ";
    bottom: 0px;
    width: $button-width/2;
    height: 8%;
    display: block;
    position: absolute;
    margin-left: 0;
    background-color: $selection-yellow;
    transition: $button-tapped-transition;

    @include response-to(wide) {
        width: $button-width-computer/2;
        margin-left:0;
    }
}

.menu-buttons:hover {
    background: transparent;
}