@import "../../Settings/Settings.scss";

$button-nums: 3;
$button-width: percentage(1/$button-nums);

.menu-buttons {
    border:none;
    width: $button-width;
    height: 100%;
    font-family: $primary-font;
}


