@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,600,600i|Saira+Stencil+One&display=swap');

$primary-font: "Nunito", sans-serif;
$display-font: "Saira Stencil One", cursive;

$primary-font-weight: 300;
$bold-font-weight: 600;

$primary-dark: #1f1f1f;
$primary-white: #f7f7f7;
$secondary-dark: #393939;
$secondary-white: #ddd;
$selection-yellow: #ebb82b;

$phone-width: 480px;
$screen-width: 960px;

@mixin response-to($device) {
    @if $device == phones {
        @media only screen and (max-width: $phone-width) {
            @content;
        }
    }@else if $device == computers {
        @media only screen and (min-width: $phone-width + 1) {
            @content;
        }
    } @else if $device == wide {
        @media only screen and (min-width: $screen-width) {
            @content;
        }
    }  
}


*::selection {
    background-color:$selection-yellow;
}
