@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,600,600i|Saira+Stencil+One&display=swap');

$primary-font: "Nunito", sans-serif;
$display-font: "Saira Stencil One", cursive;

$primary-font-weight: 300;
$bold-font-weight: 600;

$primary-dark: #1f1f1f;
$primary-white: #eee;
$secondary-dark: #393939;
$secondary-white: #ddd;

$phone-width: 480px;

@mixin response-to($device) {
    @if $device == phones {
        @media only screen and (max-width: $phone-width) {
            @content;
        }
    }@else if $device == computers {
        @media only screen and (min-width: $phone-width + 1) {
            @content 
        }
    }    
}
