@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,600,600i|Saira+Stencil+One&display=swap');

$primary-font: "Nunito", sans-serif;
$display-font: "Saira Stencil One", cursive;

$primary-font-weight: 300;
$bold-font-weight: 600;

$display-font-size: 90px;
$mobile-display-font-size: 8vw;

$slogan-font-size: 24px;
$mobile-slogan-font-size: 16px;

$header-font-size: 60px;
$mobile-header-font-size: 5.67vw;

$header-height: 100px;

$primary-dark: #1f1f1f;
$primary-white: #f7f7f7;
$secondary-dark: #393939;
$secondary-white: #ddd;
$selection-yellow: #ebb82b;

$phone-width: 480px;
$screen-width: 960px;

@mixin response-to($device) {
    @if $device == phones {
        @media only screen and (max-width: $phone-width) {
            @content;
        }
    }@else if $device == computers {
        @media only screen and (min-width: $phone-width + 1) {
            @content;
        }
    } @else if $device == wide {
        @media only screen and (min-width: $screen-width) {
            @content;
        }
    }  
}

@mixin header-style() {
    color: $primary-dark;
    font-family: $display-font;
    font-size: $header-font-size;
    text-align: center;
    width: 400px;
    margin: auto;
    margin-bottom: 4%;
    height: $header-height;
}

*::selection {
    background-color:$selection-yellow;
}
